<multiline-expression>
  <h1 onclick={ () => {
    update({ message: 'hello' })
  } }>{ state.message }</h1>

  <script>
    export default {
      state: {
        message: "hello there"
      }
    };
  </script>
</multiline-expression>
