<my-component>
  <h1 if={ title }>{ title }</h1>

  <ul>
    <li onclick={ onClick } each={ item in items }>{ item.value }</li>
  </ul>
  <div>
    Title
    {foo.baz}
    {foo.baz}
  </div>
  <my-component each={letter in foo.bar}>{letter}</my-component>
  <my-component if={foo.bar}>{foo.bar}</my-component>


  <script>
    import assert from 'node:assert'

    const goodbye = 'goodbye'
    export default {
      onMount() {
        console.log('mounted!')
      },
      onClick() {
        this.title = goodbye
      }
    }

    function bar() { return 'bar' }
  </script>

  <style>
    :host {
      color: red;
    }
  </style>
</my-component>
