<html>
    <head>
        <title>{ state.message }</title>
        <script src="path/to/riot.js"></script>
    </head>
    <body>
        <p>{ state.message }</p>
    </body>

    <script>
        export default {
          state: {
            message: 'hello'
          }
        }
    </script>
</html>