<my-tag class={ props.rootAttribute }><p title="{ props.quotedAttribute }">{ props.textNode }</p><p class="a { props.first } b { props.secondExpression }"></p>
  <script data-foo="bar">const scriptCode = 1
  </script>
</my-tag>
